<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfzX2s1be2olPcyUD88aekxAp_NR6skoY</string>
	<key>GCM_SENDER_ID</key>
	<string>978241637016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cityGuideApp</string>
	<key>PROJECT_ID</key>
	<string>cityguide-97c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>cityguide-97c5a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978241637016:ios:73c1bf61188047ad0bdeed</string>
</dict>
</plist>